<mat-toolbar color="primary">
  <span>TPM Connect</span>
</mat-toolbar>
<div class="container">
  <div class="container-left">
    <mat-card>
      <label>Choose Database</label>
      <mat-radio-group>
        <mat-radio-button class="choice" *ngFor="let db of databases" [value]="db.value"
                          [checked]="db.value=='postgresql'" (change)="getUsers(db.value)">
          {{ db.name }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>
    <br/>
    <table mat-table [dataSource]="users" class="table mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef>Password</th>
        <td mat-cell *matCellDef="let element">{{ element.password }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="editUser(element)" mat-button color="primary">Edit</a>
          <a (click)="deleteUser(element)" mat-button color="warn">Delete</a></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row;columns: displayColumns"></tr>
    </table>
  </div>
  <div class="container-right">
    <mat-card class="form-title">
      <span class="form-header">Add New User</span>
    </mat-card>
    <mat-card class="form-body">
      <mat-progress-bar *ngIf="querying" mode="query"></mat-progress-bar>
      <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="sendForm(userForm.value)">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter your full name">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Enter your email">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Enter your password">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Database</mat-label>
            <mat-select formControlName="connection">
              <mat-option *ngFor="let db of databases" [value]="db.value">
                {{ db.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="formMode == 'update';then update else store"></div>
          <ng-template #store>
            <button type="submit" class="form-button" mat-flat-button color="primary">Add User</button>
          </ng-template>
          <ng-template #update>
            <button class="form-button-half" type="submit" mat-flat-button color='primary'>Update User</button>
            <button (click)="cancelUpdate()" class="form-button-half" type="button" mat-stroked-button color='warn'>Cancel</button>
          </ng-template>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
